<div class="action-box" (click) = "makeEditable();">
  <div class="pencil-positition">
    <a href="#" class="pencil">
          <span class="glyphicon glyphicon-pencil "></span>
    </a>
  </div>
  <textarea #ta (blur)="actionBoxModel.actionComment=ta.value" [value]="actionBoxModel.actionComment"></textarea>
  <div class="trash-positition">
    <a href="#" class="pencil">
          <span class="glyphicon glyphicon-trash"></span>
      </a>
      <span>&nbsp;&nbsp;</span>
      <a href="#" class="pencil">
          <span class="glyphicon glyphicon-thumbs-up"></span>
      </a>
  </div>
</div>